$color:#eee;

body{
    background-color: $color;
    // 禁用文字选中
    user-select: none;
}

img {
    // 禁止拖动图片
    -webkit-user-drag: none;
}   

$timeContain: 1s;
.buttonTest {
    background: red;
    border: none;
    position: relative;
    overflow: hidden;
    height: 20px;
    .buttonTopBorder, .buttonBottomBorder, .buttonLeftBorder, .buttonRightBorder {
        width: 0%;
        height: 0%;
        border-radius: 2px;
    }
    .shadowText {
        position: absolute;
        top: 2px;
        right: calc(100% + 6px);
        transition: all $timeContain;
        transform: translateZ(0);
    }
    .textContan {
        left:0px;
        position: relative;
        transition: left $timeContain;
        transform: translateZ(0);
    }
    &:hover {
        cursor: pointer;
        .buttonTopBorder {
            width: 100%;
            height: 1px;
            background-color: violet;
            position: absolute;
            top: -0;
            left: 0px;
            transition: width $timeContain;
        }
        .buttonBottomBorder {
            width: 100%;
            height: 1px;
            background-color: violet;
            position: absolute;
            bottom: -0;
            right: 0px;
            transition: width $timeContain;
        }
        .buttonLeftBorder {
            width: 1px;
            height: 100%;
            background-color: violet;
            position: absolute;
            left: -0;
            bottom: 0px;
            transition: height $timeContain;
        }
        .buttonRightBorder {
            width: 1px;
            height: 100%;
            background-color: violet;
            position: absolute;
            right: -0;
            top: 0px;
            transition: height $timeContain;
        }
        .textContan {
            // animation-name: run;
            // animation-timing-function: linear;
            // animation-iteration-count: 1, infinite;
            // animation-duration: $timeContain;
            // animation-delay: 0;
            // animation-fill-mode: forwards
            left:calc(100% + 6px);
            transition: left $timeContain;
        }
        .shadowText {
            // animation-name: come;
            // animation-timing-function: linear;
            // animation-iteration-count: 1, infinite;
            // animation-duration: $timeContain;
            // animation-delay: 0;
            // animation-fill-mode: forwards
            right: 6px;
            transition: all $timeContain;
            
        }
    }
    @keyframes run {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(120%);
        }
    }
    @keyframes come {
        from {
            transform: translateX(0);
        }   
        to {
            transform: translateX(120%);
        }
    }
}
.changeText {
    @keyframes textTremble {
        from {
            transform: translateY(-20%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    font-size: 20px;
    animation-name: textTremble;
    animation-timing-function: linear;
    animation-iteration-count: 1, infinite;
    animation-duration: $timeContain;
    animation-delay: 0;
    animation-fill-mode: forwards
}
.blinkButton {
    
}